#
# The purpose of this file is to configure Travis CI build system integration.
#   @see https://travis-ci.com/SophistSolutions/Stroika
#
# \note We use the 'release' configuration because it builds a bit faster than the Debug configuration, and
#       we are limited with travis ci to a build that takes 50 minutes. We run out of time otherwise, and maybe
#       even to some degree with these settings. May need todo more to make this work.
#
language: cpp

os: linux

branches:
  only:
    - v2.1-Dev
    - v2.1-Release

jobs:
  include:
    - os: osx
      osx_image: xcode11.2
      addons:
        homebrew:
          packages:
          - gnu-sed
          - p7zip
      install:
        - ./configure Release --apply-default-release-flags
        - cat ConfigurationFiles/Release.xml
      script:
        - make all

    - os: windows
      addons:
      install:
        - ./configure Release-32 --arch x86 --apply-default-release-flags
        - cat ConfigurationFiles/Release.xml
      script:
        - make all

    - os: linux
      dist: bionic
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-8
            - libtool-bin
            - p7zip-full
      env:
        - MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"
      install:
          - ./configure Release --apply-default-release-flags
          - cat ConfigurationFiles/Release.xml
      script:
        - make all

    - os: linux
      dist: bionic
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-8
            - libtool-bin
            - p7zip-full
      env:
        - MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"
      install:
          - ./configure Release --apply-default-release-flags
          - cat ConfigurationFiles/Release.xml
      script:
        - make run-tests

before_install:
    - eval "${MATRIX_EVAL}"
