language: cpp

dist: bionic

branches:
  only:
    - v2.1-Dev
    - v2.1-Release

matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-8
            - libtool-bin
            - p7zip-full
      env:
        - MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"

install:

jobs:
  include:
    -
      stage: Configure
      script:
        - ./configure Debug --apply-default-debug-flags
        - cat ConfigurationFiles/Debug.xml
    -
      stage: ThirdPartyComponents
      script:
        - make CONFIGURATION=Debug third-party-components
    -
      stage: all
      script:
        - make CONFIGURATION=Debug all
    -
      stage: run-tests
      script:
        - make CONFIGURATION=Debug run-tests

before_install:
    - eval "${MATRIX_EVAL}"
