language: cpp

os: linux

branches:
  only:
    - v2.1-Dev
    - v2.1-Release

jobs:
  include:
    - os: linux
      dist: bionic
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-8
            - libtool-bin
            - p7zip-full
      env:
        - MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"
      script:
        - ./configure Release --apply-default-release-flags
        - cat ConfigurationFiles/Release.xml
        - make CONFIGURATION=Release samples

    - os: linux
      dist: bionic
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-8
            - libtool-bin
            - p7zip-full
      env:
        - MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"
      script:
        - ./configure Debug --apply-default-debug-flags
        - cat ConfigurationFiles/Debug.xml
        - make CONFIGURATION=Debug run-tests

install:

before_install:
    - eval "${MATRIX_EVAL}"
