# INSTALL THIS FILE TO /usr/lib/systemd/system/stroika-sample-htmlui.service

[Unit]
Description=Stroika Sample HTMLUI Service
After=syslog.target

[Service]
#
# NOTE, we can support Type=simple by setting ExecStart=/opt/Stroika-Sample-HTMLUI/Stroika-Sample-HTMLUI --run-directly
# but then I'd have to read up on how todo restart/stop
#
Type=forking

# In stroika, this defaults to IO::FileSystem::WellKnownLocations::GetRuntimeVariableData () + fAppRep_.load ()->GetServiceDescription ().fRegistrationName + ".pid"_k;
PIDFile=/var/run/Stroika-Sample-HTMLUI.pid
ExecStart=/opt/Stroika-Sample-HTMLUI/Stroika-Sample-HTMLUI --start
ExecReload=/opt/Stroika-Sample-HTMLUI/Stroika-Sample-HTMLUI --restart
ExecStop=/opt/Stroika-Sample-HTMLUI/Stroika-Sample-HTMLUI --stop

[Install]
WantedBy=multi-user.target