# INSTALL THIS FILE TO /usr/lib/systemd/system/stroika-sample-htmlui.service

[Unit]
Description=Stroika Sample Service
After=syslog.target
#After=syslog.target network.target
#Conflicts=sendmail.service exim.service

[Service]
#
# NOTE, we can support Type=simple by setting ExecStart=/opt/Stroika-Sample-HTMLUI/HTMLUI --run-directly
# but then I'd have to read up on how todo restart/stop
#
Type=forking

# In stroika, this defaults to IO::FileSystem::WellKnownLocations::GetRuntimeVariableData () + fAppRep_.load ()->GetServiceDescription ().fRegistrationName + ".pid"_k;
PIDFile=/var/run/Stroika-Sample-Service.pid
#EnvironmentFile=-/etc/sysconfig/network
#ExecStartPre=-/usr/libexec/postfix/aliasesdb
#ExecStartPre=-/usr/libexec/postfix/chroot-update
ExecStart=/opt/Stroika-Sample-HTMLUI/htmlui --start
ExecReload=/opt/Stroika-Sample-HTMLUI/htmlui --restart
ExecStop=/opt/Stroika-Sample-HTMLUI/htmlui --stop

[Install]
WantedBy=multi-user.target