version: 2
jobs:
  build:
    docker:
      - image: sophistsolutionsinc/stroika-buildvm-ubuntu1910-regression-tests

    steps:
      - checkout

      - run:
        name: configure
        command: make default-configurations

        - run:
          name: build
          command: make all -j2