version: 2
jobs:
  build-library:
    docker:
      - image: sophistsolutionsinc/stroika-buildvm-ubuntu1910-regression-tests

    steps:
    - checkout

    - run:
        name: Configure
        command: ./configure Debug --config-tag Unix --apply-default-debug-flags

    - run:
        name: build
        command: make library -j3
  
  build-samples:
    docker:
      - image: sophistsolutionsinc/stroika-buildvm-ubuntu1910-regression-tests

    steps:
    - run:
        name: build
        command: make all -j3
    - store_test_results:
        path: Builds/Debug

  run-tests:
    docker:
      - image: sophistsolutionsinc/stroika-buildvm-ubuntu1910-regression-tests

    steps:
    - run:
        name: run-tests
        command: |
          rm -rf test-results && mkdir -p test-results
          pwd
          ls -al
          (make CONFIGURATION=Debug run-tests -j3 2>&1) | tee test-results/run-tests-log.txt

    - store_test_results:
       path: test-results

workflows:
  version: 2
  build_and_test:
    jobs:
      - build-library
      - build-samples:
        requires:
          - build-library
      - run-tests
        requires:
          - build-library
