version: 2.1

orbs:
  win: circleci/windows@2.2.0
   
jobs:
  #
  # Windows build
  #
  winbuild:
    executor: win/default
    
    docker:
    - image: sophistsolutionsinc/stroika-buildvm-windows-vs2k19
    
    steps:
    - checkout
    - run:
      name: Configure
      command: ./configure Debug --apply-default-debug-flags
    - run:
      name: Build
      command: make CONFIGURATION=Debug all -j2

  #
  # x64 Linux Ubuntu 1804 build
  #
  basic-debug-builds-test-ubuntu1804:
    docker:
    - image: sophistsolutionsinc/stroika-buildvm-ubuntu1804-regression-tests
    
    working_directory: ~/build-4-linux
    
    steps:
    - checkout
    - run:
        name: Configure
        command: ./configure Debug --config-tag Unix --apply-default-debug-flags
    - run:
        name: Build
        command: make all -j2
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-AppSettings/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-ArchiveUtility/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-Containers/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-SSDPClient/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-SSDPServer/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-Serialization/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-Service/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-SystemPerformanceClient/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-Traceroute/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-WebServer/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-WebService/
         destination: Samples
    - run:
         name: Run Tests
         command: |
            rm -rf test-results && mkdir -p test-results
            pwd
            ls -al
            (make run-tests -j2 2>&1) | tee test-results/run-tests-log.txt
    - store_test_results:
         path: ~/build-4-linux/test-results/run-tests-log.txt


  basic-debug-builds-test-ubuntu1910:
    docker:
    - image: sophistsolutionsinc/stroika-buildvm-ubuntu1910-regression-tests
    
    working_directory: ~/build-4-linux
    
    steps:
    - checkout
    - run:
        name: Configure
        command: ./configure Debug --config-tag Unix --apply-default-debug-flags
    - run:
        name: Build
        command: make all -j2
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-AppSettings/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-ArchiveUtility/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-Containers/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-SSDPClient/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-SSDPServer/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-Serialization/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-Service/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-SystemPerformanceClient/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-Traceroute/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-WebServer/
         destination: Samples
    - store_artifacts:
         path: ~/build-4-linux/Builds/Debug/Samples-WebService/
         destination: Samples
    - run:
         name: Run Tests
         command: |
            rm -rf test-results && mkdir -p test-results
            pwd
            ls -al
            (make run-tests -j2 2>&1) | tee test-results/run-tests-log.txt
    - store_test_results:
         path: ~/build-4-linux/test-results/run-tests-log.txt

  basic-clang-8-builds-test-ubuntu1910:
    docker:
      - image: sophistsolutionsinc/stroika-buildvm-ubuntu1910-regression-tests
    
    working_directory: ~/build-4-linux
    
    steps:
    - checkout
    - run:
        name: Configure
        command: |
          ./configure clang++-8-debug-libc++ --config-tag Unix --compiler-driver clang++-8 --apply-default-debug-flags --stdlib libc++ --only-if-has-compiler --trace2file enable
          ./configure clang++-8-release-libc++-c++2a --config-tag Unix --compiler-driver clang++-8 --apply-default-release-flags --stdlib libc++ --only-if-has-compiler --trace2file enable --cppstd-version c++2a
    - run:
        name: Build
        command: make all -j2
    - run:
         name: Run Tests
         command: |
            rm -rf test-results && mkdir -p test-results
            pwd
            ls -al
            (make run-tests -j2 2>&1) | tee test-results/run-tests-log.txt
    - store_test_results:
         path: ~/build-4-linux/test-results/run-tests-log.txt



workflows:
  version: 2
  builds_and_tests:
    jobs:
     #- winbuild
      - basic-debug-builds-test-ubuntu1804
      - basic-debug-builds-test-ubuntu1910
      - basic-clang-8-builds-test-ubuntu1910
