version: 2
jobs:
  build:
    docker:
      - image: sophistsolutionsinc/stroika-buildvm-ubuntu1910-regression-tests

    steps:
    - checkout

    - run:
        name: pwd
        command: pwd

    - run:
        name: ls
        command: ls

    - run:
        name: configure
        command: ./configure Debug --config-tag Unix --apply-default-debug-flags


    - run:
        name: build
        command: make all -j2

