version: 2
jobs:
  build-library:
    docker:
      - image: sophistsolutionsinc/stroika-buildvm-ubuntu1804-regression-tests
      #- image: sophistsolutionsinc/stroika-buildvm-ubuntu1910-regression-tests
    
    working_directory: ~/build-4-linux
    
    steps:
    - checkout
    - run:
        name: Configure
        command: ./configure Debug --config-tag Unix --apply-default-debug-flags
    - run:
        name: build
        command: make libraries -j3
    - persist_to_workspace:
        root: .
        paths: .
  
  build-samples:
    docker:
      - image: sophistsolutionsinc/stroika-buildvm-ubuntu1804-regression-tests

    working_directory: ~/build-4-linux

    steps:
    - attach_workspace:
       at: ~/build-4-linux
    - run:
       name: build
       command: make all -j3
    - run:
       name: ls
       command: pwd && ls -l && ls -l Builds/Debug
    - store_artifacts:
       path: ~/build-4-linux/Builds/Debug/Samples-AppSettings/AppSettings
    - store_artifacts:
       path: ~/build-4-linux/Builds/Debug/Samples-ArchiveUtility/ArchiveUtility
    - store_artifacts:
       path: ~/build-4-linux/Builds/Debug/Samples-Containers/Containers
    - store_artifacts:
       path: ~/build-4-linux/Builds/Debug/Samples-SSDPClient/SSDPClient
    - store_artifacts:
       path: ~/build-4-linux/Builds/Debug/Samples-SSDPServer/SSDPServer
    - store_artifacts:
       path: ~/build-4-linux/Builds/Debug/Samples-Serialization/Serialization
    - store_artifacts:
       path: ~/build-4-linux/Builds/Debug/Samples-Service/*
    - store_artifacts:
       path: ~/build-4-linux/Builds/Debug/Samples-SystemPerformanceClient/SystemPerformanceClient
    - store_artifacts:
       path: ~/build-4-linux/Builds/Debug/Samples-Traceroute/Traceroute
    - store_artifacts:
       path: ~/build-4-linux/Builds/Debug/Samples-WebServer/WebServer
    - store_artifacts:
       path: ~/build-4-linux/Builds/Debug/Samples-WebService/WebService

  run-tests:
    docker:
      - image: sophistsolutionsinc/stroika-buildvm-ubuntu1804-regression-tests

    working_directory: ~/build-4-linux

    steps:
      - attach_workspace:
          at: ~/build-4-linux
      - run:
         name: build-tests
         command: |
          make CONFIGURATION=Debug tests -j3
      - run:
         name: run-tests
         command: |
          rm -rf test-results && mkdir -p test-results
          pwd
          ls -al
          (make CONFIGURATION=Debug run-tests -j3 2>&1) | tee test-results/run-tests-log.txt
      - store_test_results:
         path: ~/build-4-linux/test-results


workflows:
  version: 2
  build_and_test:
    jobs:
      - build-library
      - build-samples:
         requires:
           - build-library
      - run-tests:
         requires:
           - build-library
