# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

ApplyConfiguration text eol=lf
BuildClang text eol=lf
BuildGCC text eol=lf
CheckFileExists text eol=lf
CheckValidConfiguration text eol=lf
DoGitRelease text eol=lf
ExtractVersionInformation text eol=lf
FormatCode text eol=lf
GetCompilerArch text eol=lf
GetConfigurationParameter text eol=lf
GetConfigurations text eol=lf
GetConfigurationTags text eol=lf
GetDefaultShellVariable text eol=lf
GetMessageForMissingTool text eol=lf
GetVisualStudioConfigLine text eol=lf
HasCompiler text eol=lf
MakeDirectorySymbolicLink text eol=lf
MakeBuildRoot text eol=lf
MakeVersionFile text eol=lf
PrintLevelLeader text eol=lf
PrintProgressLine text eol=lf
RegressionTests text eol=lf
RunArgumentsWithCommonBuildVars text eol=lf
RunInDockerEnvironment text eol=lf
RunPerformanceRegressionTests text eol=lf
RunRemoteRegressionTests text eol=lf
SubstituteBackVariables text eol=lf
WebGet text eol=lf
